[submodule "panda"]
	path = panda
	url = ../../mich41v4294/panda.git
	branch = mqb-pla
[submodule "opendbc"]
	path = opendbc
	url = ../../mich41v4294/opendbc.git
	branch = mqb-pla
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../commaai/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
